.main{
    position: relative;
}
.top{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsla(0,0%,100%,.5);
    background-color: #34513f;
    padding: 1%;
}
#head{
    position: sticky;
    top: 0;
    z-index: 40;
    transition: opacity 0.3s ease-in-out;
}
header.scrolled {
  opacity: 10%;
}

.text{
    width: 80%;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.login__part{
    width: 25%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line{
    background: hsla(0,0%,100%,.5);
    width: 1px;
    height: 8px;
    top: calc(50% - 4px);
}
.login__part a{
    text-decoration: none;
    color: hsla(0,0%,100%,.5);
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 36px;
    text-transform: uppercase;
}

.login__part a:hover{
    color:white;
}
.bottom{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #34513f;
    justify-content: space-between;
    align-items: center;
}
.left {
    width: 14%;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 1%;
    padding-left: 2%;
    align-items: center;
    cursor: pointer;
}
.mid{
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    left: 25%;
    bottom: 14%;
    position: absolute;
}
.right{
    width: 14%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.bottom a{
    text-decoration: none;
}
.right a:nth-child(1){
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}
.left a img:hover , .right a img:hover{
    fill: hsla(135, 94%, 7%, 0.5);
}
.right a:nth-child(1) span{
    position: relative;
    top: 10%;
}
.right a:nth-child(2) span{
    display: flex;
}
.name{
    color: white;
    position: relative;
    left: -15%;
    /* top: 2px; */
    font-size: 12px;
    font-family: FuturaPTBook;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.search{
    color: white;
    position: relative;
    left: -24%;
    top: px;
    font-size: 12px;
    font-family: FuturaPTBook;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.names{
    color: white;
    position: relative;
    left: -25%;
    /* top: 14px; */
    font-size: 12px;
    font-family: FuturaPTBook;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.second{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -100%;
    right: -100%;
}
.menu__second{
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    text-decoration: none;
    transition: 0.5 ease-in-out;
    color: white;
}
ul button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    color: white;
}
.menu__line{
    width: 200px;
    height: 3px;
    background: hsla(0,0%,100%,.5);
}
.menu__second a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: FuturaPTBook;
    font-weight: 500;
    font-size: 12px;
    color: white;
    white-space: nowrap;
    letter-spacing: 2px;
}
.menu__second a{ transition: all .2s ease-in-out; }
.menu__second a:hover { transform: scale(0.5); }

.searchPart{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Noto Sans TC,sans-serif;
    background: #fff;
    position: absolute;
    transition: 0.5s ease-in;
    top: -500px;
    z-index: 200;
}
.search__part__close{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Noto Sans TC,sans-serif;
    background: #fff;
    position: fixed;
    transition: 0.5s ease-in;
    top: 0;
    z-index: 200;
}
.search__top{
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.close{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-size: 15px;
    line-height: 1.2em;
    font-weight: 500;
}
.close .times{
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.times img{
    width: 40px;
    height:30px;
    opacity: 77%;
    
}
.input{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
}
.input div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.input input {
    border: none;
    width: 100%;
    /* height: 80px; */
}
.search__bottom  {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom__first{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top__collections{
    width: 20%;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .08em;
    color: #000;
    text-transform: uppercase;
}
.top__right{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.best{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .08em;
    color: #000;
    text-transform: uppercase;
}
.all{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
    opacity: .3;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-decoration: none;
}
.bottom__second{
    width: 90%;
    height: 350px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.collect{
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.boxes{
    width: 80%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 5%;
}
.item{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}
.item .description{
    position: absolute;
    top: 74%;
}
.item .price{
    position: absolute;
    top:77%;
}
.item img{
    width: 100%;
    height: 60%;
    background-color: rgb(250, 247, 247);
    transition: 0.5s ease-in-out;
}
.item img:hover{
    transform: scale(1.05);
}
.filtered__text{
    width: 90%;
    height: 30px;
    gap: 0;
    letter-spacing: .02em;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.5em;
    color: #000;
}
